.container__popularproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  /* height: 470px; */
  /* margin: 20px auto; */
  /* background-color: aquamarine; */
}

.container__popularproduct .title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  /* margin: 20px auto; */
  /* gap: 5px; */
  flex-direction: row;
  /* background-color: rebeccapurple; */
}


.card__popularproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 10px;
}

.card__popularproduct img{
  /* width: 200px; */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;

}

@media screen and (max-width: 768px) {
  .container__popularproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    /* height: 500px; */
    /* background-color: royalblue; */
  }
  
.container__popularproduct .title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  flex-direction: row;
  width: 90%;
}

  .card__popularproduct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    width: 160px;
    flex-wrap: wrap;
    /* gap: 20px; */
    /* width: 300px; */
    /* height: 300px; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 10px;
  }
  
  .card__popularproduct img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
  
  }
}